<div class="container">

    <div class="row SeccionCarrusel" id="SeccionCarrrusel">
        <div class="col-md-8">
             <img src="../../../assets/ImgLogoFUllYouPr.png" class="d-block ImgLogo" alt="...">
            
        </div>

        <div class="col-md-4">
            <div class="scene">
                <div class="card">
                  <div class="card__face card__face--front" >
                <div class="login">
                  <div class="login-box" id="login">
                      <img src="../../../assets/escipn.png" class="avatar" alt="Avatar Image">
                      <h1>Login Here</h1>
                      <form>
                        <!-- USERNAME INPUT -->
                        <label for="username">Username</label>
                        <input type="text" placeholder="Enter Username">
                        <!-- PASSWORD INPUT -->
                        <label for="password">Password</label>
                        <input type="password" placeholder="Enter Password">
                        <br>
                        <input type="submit"  value="Log In">
                        <br>
                        <a href="#">Lost your Password?</a><br>
                        <a (click)="CardRegister()">Don't have An account?</a>
                      </form>
                    </div>
              </div>
              </div>
                  <div class="card__face card__face--back">
                    <div class="login">
                        <div class="login-box">
                            <img src="../../../assets/escipn.png" class="avatar" alt="Avatar Image">
                            <h1>Regístrate</h1>
                            <form>
                              <!-- USERNAME INPUT -->
                              <label for="username">Username</label>
                              <input type="text" placeholder="Enter Username">
                              <!-- PASSWORD INPUT -->
                              <label for="correo">correo</label>
                              <input type="text" placeholder="Enter email">
                              <!-- PASSWORD INPUT -->
                              <label for="School">Escuela</label>
                              <input type="text" placeholder="Enter school">
                              
                              <!-- PASSWORD INPUT -->
                              <label for="password">Password</label>
                              <input type="password" placeholder="Enter Password">
                              
                              <input type="submit" value="REGISTRAR">
                             <a (click)="CardLogin()">Iniciar Session</a>
                            </form>
                          </div>
                    </div>
                  </div>
                </div>
            </div>    
                
            
        </div>





    </div>
</div>

