<div class="body">

    <!-- Navbar -->
    <app-banner></app-banner>

    <!-- Grid -->
    <div class="w3-row w3-padding w3-border">

        <div class="w3-col l3 s12">

            <div class="InfparaUser ColorSecund">
                <img class="icon photoPerfil" src="../../../assets/icon/foto.svg" alt="">
                <h3>Bienvenido Monkey D.LUFFY</h3>
                <a>Agregar un foto</a>
            </div>
            <hr>
            <div class="ColorSecund">
                <div class="Titlecategorias">
                    <h3>Categorias</h3>
                </div>
                <div class="categorias">
                    <a href="" class="Categoria">Tecnologia</a>
                    <a href="" class="Categoria">Quimica</a>
                    <a href="" class="Categoria">Construcción</a>
                    <a href="" class="Categoria">Mecanica</a>
                    <a href="" class="Categoria">Arquitectura</a>
                    <a href="" class="Categoria">AGronomia</a>
                    <a href="" class="Categoria">Otros</a>
                </div>
            </div>
            <div class="Escuela ColorSecund">
                <h3>SEDES</h3>
                <a href="" class="Escuelas">Zacatenco</a>
                <a href="" class="Escuelas">Ticoman</a>
                <a href="" class="Escuelas">SANTO TOMAS</a>
                <a href="" class="Escuelas">TECAMACHALCO</a>
                <a href="" class="Escuelas">REGINA</a>
                <a href="" class="Escuelas">UPIICSA</a>
            </div>
        </div>
        <!-- publicaiones -->
        <div class="w3-col l6 ">
            <div class="CreatePublic ColorSecund ">
                <div class="WritePublic float-left">
                    <button class="w3-input">Comienza una publicacion de tus proyectos</button>

                </div>
                <div class="UpPhoto float-left">
                    <img class="icon" src="../../../assets/icon/foto.svg" alt="">
                </div>
                <div class="UpDocument">
                    <img class="icon" src="../../../assets/icon/document.svg" alt="">
                </div>
            </div>
            <hr>
            <div>
                <app-publicaciones></app-publicaciones>
            </div>
        </div>
        <div class="w3-col l3">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error assumenda enim aliquam delectus
                voluptatum iusto impedit beatae modi neque? Iusto illo incidunt ipsam pariatur quas nisi vero earum ab
                rerum.</p>
        </div>

    </div>

</div>